*.pdf
*.djvu
*.epub
*.exe
*.zip
*.7z
*.mp4
lib/

*.pyc

# Latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.xdv

# cpp
**/.cmake/**
**/CMakeFiles/**
**/cmake-build-debug/**
**/cpp/build/**

# IDEs
**/.idea/**
**/.vscode/**

# 5-aa labs
5-aa/lab